{"nbformat":4,"nbformat_minor":0,"metadata":{"colab":{"provenance":[],"authorship_tag":"ABX9TyMq7fgrFZdBzCS/0qXAnc+q"},"kernelspec":{"name":"python3","display_name":"Python 3"},"language_info":{"name":"python"}},"cells":[{"cell_type":"code","execution_count":null,"metadata":{"id":"W_2dI2JDuacu"},"outputs":[],"source":["fastapi\n","uvicorn\n","scikit-learn\n","joblib\n","numpy\n","pandas\n"]}]}